<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Elizabethtown College Database - Home</title>

  <link rel="stylesheet" href="style.css">

</head>
<body>
<table>
  {% for i in range(data|count) %}
    <tr>
      <td> {{ i }} </td>
      <td>{{ data[i][0]}}</td>
      <td>{{ data[i][1]}}</td>
      <td>{{ data[i][2]}}</td>
      <td>{{ data[i][3]}}</td>
      <td>{{ data[i][4]}}</td>
      <td>{{ data[i][5]}}</td>
      <td>{{ data[i][6]}}</td>
    </tr>
  {% endfor %}


</table>

</body>
</html>
